$header-color: #20202b;
$ash-color: #979797;
$light-bg: #fff;
$light-font: #fff;
$warning-color: #ffc53d;
$success-color: #52c41a;
$error-color: #ff4d4f;
$primary-color: #1890ff;
$primary-hover-color: #096dd9;
$dark-font: #20202b;
$table-title-color: #333;
$table-info-color: rgba(51, 51, 51, 0.274);

$max-width: 1024px;
$default-box-shadow: 0 3px 14px 1px rgba(32, 32, 43, 0.6);
